@font-face {
    font-family: Outfit;
    src: url(../font/Outfit-VariableFont.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body{
    background-color: #090310;
    font-family: Outfit,sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    width: 0px;
}

.navigation {
    border-radius: 30px;
    border: 5px solid #8859B6;
    background: #090310;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 75px;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 60px;
    margin: 7px 10px 10px 20px;
}

.nav_links > a {
    color: #8859B6;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    margin: 15px;
}

.heading_container{
    background-image: url(../img/background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > h1{
    color: #FFF;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    margin-bottom: 20px;
}

.header > p{
    text-align: center;
    text-decoration: none;
    opacity: 0.9;
    color: #FFF;
    font-size: 20px;
}

.header > p > a{
    text-decoration: none;
    color: #FFF;
}

.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0px;
}

.project_container{
    width: 85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 25px 0;
}

.project_container:nth-child(2n){
    flex-direction: row-reverse;
}

.project_col{
    margin: 0px 20px;
    position: relative;
    height: 403px;
    width: 100%;
}

.project_col h2{
    color: #FFF;
    font-size: 50px;
    font-weight: 600;
    line-height: 65px;
    margin: 10px 0 30px 0;
}

.project_col p{
    color: #FFF;
    font-size: 18px;
    font-weight: 200;
    line-height: 120%;
    margin-bottom: 40px;
}

.project_container:nth-child(2n) > .project_col{
    text-align: right;
}

.project_container:nth-child(2n) > .project_col > h2{
    right: 55%;
}


footer{
    background-color: #A37EC6;
    padding: 50px;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
}

.footer_col1{
    width: 50%;
}

.footer_col1 > h2{
    color: #FFF;
    font-size: 55px;
    font-weight: 600;
    line-height: 72px; /* 130.909% */
}

.footer_col1 > div{
    margin-left: 50px;
    margin-top: 30px;
    /* display: flex;
    justify-content: space-between; */
}

.footer_col1 > div > a{
    text-decoration: none;
    margin: 20px;
}

.footer_col2{
    width: 50%;
    display: block;
    text-align: right;
}

.footer_col2 > h2{
    color: #FFF;
    font-family: Outfit;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px; /* 130.909% */
}

.footer_col2 > div{
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer_col2 > div > a{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;
    margin: 0 20px;
}

.footer_col2 > div > a:last-child{
    margin-right: 0;
}

.footer_col2 > p{
    color: #FFF;
    font-size: 23px;
    font-weight: 300;
    line-height: 32px; /* 139.13% */
}
