@font-face {
    font-family: Outfit;
    src: url(../font/Outfit-VariableFont.ttf);
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #090310;
    font-family: Outfit,sans-serif;
    color: white;
}

body::-webkit-scrollbar {
    width: 0;
}

.navigation {
    border-radius: 30px;
    border: 5px solid #8859B6;
    background: #090310;
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    height: 75px;
    z-index: 999;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 70px;
    height: 60px;
    margin: 7px 10px 10px 20px;
}

.nav_links > a {
    color: #8859B6;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    text-decoration: none;
    margin: 15px;
}

.menu-btn {
    display: none;
    color: #8859B6;
    font-size: 24px;
    margin: 0 20px;
    cursor: pointer;
}


.heading {
    width: 353px;
    height: 230px;
    flex-shrink: 0;
    margin-bottom: 40px;
}

.heading > span {
    color: #FFF;
    font-size: 35px;
    font-weight: 400;
    line-height: 56px;
}

.heading > div {
    color: #FFF;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
}

.details {
    padding: 30px;
    width: 330px;
    height: 170px;
    border-left: #956BBE 5px solid;
}

.details > p {
    color: #6B6870;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    margin: 0;
    text-align: justify;
}

.card {
    width: 550px;
    height: 380px;
    margin: 0 auto;
    background-color: #303030;
    border-radius: 20px;
    z-index: 1;
    box-shadow: 15px 15px 8px 0 rgba(0, 0, 0, 0.3);
}

.tools {
    display: flex;
    align-items: center;
    padding: 9px;
}

.circle {
    padding: 0 4px;
}

.box {
    display: inline-block;
    align-items: center;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
}

.red {
    background-color: #ff605c;
}

.yellow {
    background-color: #ffbd44;
}

.green {
    background-color: #00ca4e;
}

.code_area {
    position: absolute;
    top: 250px;
    right: 110px;
}

.card__content {
    color: #A37EC6;
    font-size: 23px;
    font-weight: 400;
    line-height: 32px;
    margin: 30px 35px;
}

.background_img {
    max-width: 100%;
    width: 60%;
    position: absolute;
    height: 800px;
    top: 0;
    right: 0;
}

.social_links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 20px;
    top: 270px;
}

.social_links > a {
    margin: 8px;
}

.home_details {
    margin: 190px 20px 200px 80px;
    /*display: grid;*/
    /*gap: 40px;*/
}

.aboutMe_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 300px;
}

.profile_img {
    margin: 30px 100px;
}

.about_me_header {
    position: absolute;
    color: #FFF;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    left: 500px;
}

.about_me_details {
    width: 610px;
    height: 286px;
    color: #FFF;
    font-size: 23px;
    font-weight: 100;
    line-height: 32px;
    /*text-align: justify;*/
}

.about_me_details > ul {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 20px 0;
}

.about_me_details > ul > li {
    display: contents;
}

.about_me_details > ul > li > span:first-child {
    font-weight: 500;
}

.about_me_details > ul > li > span:last-child {
    color: #A37EC6;
    font-weight: 300;
}

.about_me_eg {
    position: absolute;
    right: 60px;
    top: 830px;
}

.project_count {
    font-weight: 700;
}

.project_count button {
    background-color: transparent;
    color: #956BBE;
    font-size: 16px;
    font-weight: 400;
    line-height: 32px;
    border-radius: 30px;
    border: 3px solid #956BBE;
    padding: 5px 30px 5px 30px;
    cursor: pointer;
    margin-top: 30px;
}

.project_count button:hover{
    background-color: #956BBE;
    color: #090310;
}

.number {
    font-size: 36px;
    color: #8859B6;
}

.service_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 150px;
}

.service_header > div {
    position: relative;
    color: #FFF;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    right: 150px;
}

.service_header > img {
    position: relative;
    left: 70px;
}

.services_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.service_item {
    border-radius: 20px;
    border: 6px solid #A37EC6;
    width: 345px;
    height: 500px;
    margin: 80px 10px;
    padding: 30px;
}

.service_item > img {
    width: 100px;
    margin: 30px 30px 20px 30px;
}

.service_item > div {
    color: #A37EC6;
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 30px;
}

.service_item > p {
    color: #6B6870;
    font-size: 18px;
    font-style: normal;
    font-weight: 200;
    line-height: 30px;
    text-align: justify;
}

.service_item:hover{
    transform: translateY(-5px);
}

.skill_header {
    position: relative;
    left: 150px;
    margin-top: 150px;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    /* 100% */
}

.main_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 30px 0;
    margin: 175px;
}

.skill_container {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.skill_container > p {
    position: absolute;
    color: #956BBE;
    font-size: 35px;
    font-weight: 700;
    line-height: 48px;
    opacity: 0.5;
}

.skill_git{
    top: 30px;
    left: 200px;
}

.skill_hibernate{
    top: 500px;
    right: 250px;
}

.skill_figma{
    top: 0;
    right: 150px;
}

.skill_opencv{
    top: 50px;
    right: 750px;
}

.skill_mysql{
    top: 450px;
    left: 130px;
}

.project_header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 300px;
}

.project_header > div {
    position: relative;
    color: #FFF;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
    /* 100% */
    right: 150px;
}

.project_header > img {
    position: relative;
    left: 70px;
}

.project_panel{
    margin-top: 65px;
    margin-bottom: 45px;
}

.project_panel_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.project_panel_row > img{
    margin: 10px;
}

.project_link{
    display: block;
    color: #FF718A;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
}

.assignment_header{
    position: relative;
    left: 150px;
    margin-top: 150px;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px;
}

.assignment_panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 65px;
    margin-bottom: 45px;
}

.assignment_panel_row > div{
    margin: 20px;
}

.assignment_panel_row > div > p{
    text-align: center;
    color: #FFF;
    font-size: 28px;
    font-weight: 300;
    line-height: 40px; /* 142.857% */
    margin-top: 10px;
}

.assignment_link{
    display: block;
    color: #FF718A;
    font-size: 28px;
    font-weight: 400;
    line-height: 40px; /* 142.857% */
    text-decoration: none;
    text-align: center;
}

.contactme_header{
    color: #FFF;
    font-size: 88px;
    font-weight: 700;
    line-height: 88px; /* 100% */
    text-align: center;
    margin-top: 150px;
}

#contact_me > img{
    position: absolute;
    right: 0;
    rotate: 90deg;
}

.contact_form{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 70px 0 150px 0;
}

.form_input {
    position: relative;
    width: 760px;
    margin: 25px 0;
}
/* styling of Input */
.input {
    color: #9D9A9F;
    font-size: 0.9rem;
    background-color: rgba(74, 42, 104, 0.25);
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
    border: none;
    resize: none;
}
/* styling of animated border */
.input-border {
    position: absolute;
    background: #7B46AE;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
}

.input:focus {
    outline: none;
}
/*code of animated border */
.input:focus ~ .input-border {
    width: 100%;
}

.form_input > label{
    color: #FFF;
    font-size: 23px;
    font-weight: 700;
    line-height: 32px;
}

button {
    font-size: 18px;
    background: #FF4D6D;
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    cursor: pointer;
}

button:hover {
    transform: translateY(-3px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

button:active {
    transform: scale(0.95);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
    margin-right: 10px;
}

button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
}

button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
}

button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
}

button:hover svg {
    transform: rotate(45deg);
}

footer{
    background-color: #A37EC6;
    padding: 50px;
}

.footer_container{
    display: flex;
    flex-wrap: wrap;
}

.footer_col1{
    width: 50%;
}

.footer_col1 > h2{
    color: #FFF;
    font-size: 55px;
    font-weight: 600;
    line-height: 72px;
}

.footer_col1 > div{
    margin-left: 50px;
    margin-top: 30px;
}

.footer_col1 > div > a{
    text-decoration: none;
    margin: 20px;
}

.footer_col2{
    width: 50%;
    display: block;
    text-align: right;
}

.footer_col2 > h2{
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 72px;
}

.footer_col2 > div{
    margin-top: 30px;
    margin-bottom: 40px;
}

.footer_col2 > div > a{
    color: #FFF;
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    text-decoration: none;
    margin: 0 20px;
}

.footer_col2 > div > a:last-child{
    margin-right: 0;
}

.footer_col2 > p{
    color: #FFF;
    font-size: 23px;
    font-weight: 300;
    line-height: 32px;
}

 /* Media queries */
@media all and (max-width: 1360px) {
    /* About me section */
    .about_me_details > p{
        width: 450px;
    }

    .about_me_details > ul{
        width: 450px;
    }

    .profile_img > img{
        width: 450px;
    }

    .about_me_header{
        left: 350px;
    }
}


@media all and (max-width: 1150px){
    /* Home section */
    .code_area{
        top: 300px;
        right: 80px;
    }

    .card{
        width: 450px;
        height: 300px;
    }

    .card__content{
        font-size: 18px;
        margin: 0 25px;
        line-height: 28px;
    }

    .social_links {
        right: 10px;
        top: 295px;
    }

    .social_links > a {
        margin: 5px;
    }

    .home_details {
        margin: 190px 20px 200px 60px;
    }

    .heading{
        margin-bottom: 20px;
    }

    .heading > span {
        font-size: 30px;
        font-weight: 400;
        line-height: 48px;
    }

    .heading > div {
        font-size: 72px;
    }

    .details {
        padding: 30px 20px;
        width: 300px;
        height: 155px;
    }

    .details > p {
        font-size: 20px;
    }

    /* About me section */
    .profile_img{
        margin: 0 50px;
    }
    .profile_img > img{
        width: 350px;
    }

    .about_me_header {
        font-size: 60px;
        line-height: 72px;
        left: 250px;
    }

    .about_me_details{
        height: 700px;
    }

    .about_me_details > p{
        width: 250px;
        height: 286px;
        font-size: 16px;
        line-height: 24px;
    }

    .about_me_details > ul {
        width: 250px;
        margin: 30px 0;
    }

    .about_me_details > ul > li {
        font-size: 16px;
    }

    .project_count > p > span:nth-child(2){
        font-size: 18px;
    }

    .about_me_eg {
        top: 750px;
    }
}

@media all and (max-width: 950px){
    /* Navigation bar */
    .nav_links > a {
        font-size: 20px;
        margin: 12px;
    }

    /* Home section */
    .code_area{
        top: 280px;
        right: 60px;
    }

    .card{
        width: 380px;
        height: 300px;
    }

    .social_links {
        right: 5px;
        top: 310px;
    }
    .social_links > a > img{
        width: 38px;
        aspect-ratio: 1/1;
    }

    .home_details {
        margin: 190px 20px 200px 40px;
    }

    .heading > span {
        font-size: 28px;
        font-weight: 400;
        line-height: 48px;
    }

    .heading > div {
        color: #FFF;
        font-size: 60px;
        font-weight: 700;
        line-height: 80px;
    }

    .details {
        padding: 20px 15px;
        width: 250px;
        height: 135px;
    }

    .details > p {
        font-size: 16px;
        line-height: 28px;
    }

    .background_img {
        height: 700px;
    }
}

@media all and (max-width: 768px) {

    /* Navigation bar */
    .menu-btn {
        display: block;
    }

    .nav_links {
        display: none;
    }

    /* Home section */
    .background_img{
        transform: rotate(180deg) scaleX(-1);
        width: 80%;
    }

    .code_area{
        top: 180px;
        right: 80px;
    }

    .home_details {
        margin: 520px 20px 200px 40px;
    }

    .social_links {
        right: 10px;
        top: 205px;
    }

    /* About me section */
    .about_me_eg {
        display: none;
    }

    .aboutMe_container{
        flex-direction: column;
        margin-top: 300px;
    }

    .about_me_header{
        left: 50px;
    }

    .profile_img{
        margin: 0 100px;
    }

    .about_me_details > p{
        margin-left: 80px;
        width: 400px;
        height: 200px;
    }

    .about_me_details > ul{
        margin-left: 80px;
        width: 400px;
    }

    .project_count{
        margin-left: 80px;
    }

    .aboutMe_container{
        margin-top: 150px;
    }
}

@media all and (max-width: 470px){
    /* Navigation bar */
    .navigation{
        height: 50px;
    }

    .logo{
        width: 45px;
        height: 40px;
    }

    /* Home section */
    .code_area{
        right: 50px;
    }

    .card{
        width: 300px;
        height: 260px;
    }

    .card__content{
        font-size: 14px;
        margin: 0 25px;
        line-height: 24px;
    }

    .social_links {
        right: 5px;
        top: 200px;
    }

    .social_links > a > img{
        width: 30px;
    }

    .heading{
        margin-bottom: 5px;
    }

    .heading > span {
        font-size: 26px;
        font-weight: 400;
        line-height: 40px;
    }

    .heading > div {
        font-size: 64px;
        font-weight: 700;
        line-height: 72px;
    }

    .details{
        width: 220px;
    }

    .details > p {
        font-size: 16px;
        line-height: 24px;
    }

    /* About me section */
    .about_me_header{
        left: 30px;
    }

    .profile_img{
        margin: 0 30px;
    }

    .profile_img > img{
        width: 280px;
    }

    .about_me_details > p{
        margin-left: 30px;
        width: 300px;
        height: 200px;
        font-size: 12px;
    }

    .about_me_details > ul{
        margin-left: 30px;
        width: 300px;
        height: 150px;
    }

    .about_me_details > ul > li {
        font-size: 12px;
        line-height: 20px;
    }

    .project_count{
        margin-left: 30px;
    }
}

@media all and (max-width: 320px){
    /* Home section */
    .code_area{
        right: 45px;
    }

    .card{
        width: 250px;
        height: 220px;
    }

    .card__content{
        font-size: 12px;
        margin: 0 20px;
        line-height: 19px;
    }

    .social_links {
        right: 5px;
        top: 195px;
    }

    .social_links > a > img{
        width: 25px;
    }
}